* {
  font-family:Helvetica,Arial,sans-serif;
}

body{
  padding: 60px;
}

input{
  font-size: 1.2rem;
  width: 100%;
  color: green;
}

.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 170px;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}